.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    margin: 0 6px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 15px;
    font-weight: bold;
}

.Main {
    margin: 10px;
    width: 768px;
}

.Legend {
    margin: 10px 0;
}

.Invalid {
    margin: 6px 15px;
    color: red;
}