.Container {
    display: flex;
}

.Column {
    margin: 10px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    margin: 0 6px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Main {
    margin: 10px;
    width: 768px;
}