.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    margin: 0 6px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin: 10px;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}